@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300&display=swap');
.home-page-main {
    margin: 3rem 0;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root {
    --banner-font-family: 'Red Rose', cursive;
}

/* Main Banner */
    .company-home-banner {
        background: rgba(0, 0, 0, 0.5);
        border: 3px solid #FFFFFF;
        border-radius: 45px;
        height: 300px;
        width: 80vw;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .company-banner-logo::before {
        content: '';
        z-index: -1;
        height: 600px;
        width: 600px;
        background-color: rgba(215, 55, 55, 0.8);
        transform: translate(-55%, -30%);
        border-radius: 50%;
        position: absolute;
    }

    .company-banner-logo img {
        height: 250px;
        width: auto;
    }

    .company-banner-text {
        font-size: 5rem;
        margin-left: 4rem;
        font-family: 'Red Rose', cursive;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3em;
    }
/* End */

/* Slogan */
.company-home-slogan {
    background: #131528;
    margin-top: 1rem;
    border-radius: 30px;
    height: max-content;
    padding: 0 1rem;
    width: 50vw;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-slogan-title {
    font-size: 3rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.company-slogan-main {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
/* End */

/* Screen Issue */
@media (max-width: 1000px) {
    .company-banner-logo::before,
    .company-banner-logo img {
        display: none;
    }
}

@media (max-width: 900px){
    .company-home-banner {
        height: 150px;
        width: 100vw;
        border-radius: 0;
        border: none;
    }

    .company-banner-text {
        font-size: 4rem;
    }

    .company-slogan-title {
        font-size: 2rem;
        border-bottom: 2px solid #fff;
    }

    .company-slogan-main {
        font-size: 1.5rem;
    }
}

@media (max-width: 900px){
    .company-banner-text {
        font-size: 3rem;
    }

    .company-slogan-title {
        font-size: 1.5rem;
        border-bottom: 2px solid #fff;
    }

    .company-slogan-main {
        font-size: 1rem;
    }
}