@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Text&family=Red+Rose&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --content-font-family: 'Quicksand', sans-serif;
    --banner-font-family: 'Red Hat Text', sans-serif;
    --header-nav-font-family: 'Red Rose', cursive;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(115deg, #2A2FA4 0%, #C14702 100%);
    background-repeat: no-repeat;
}

/* header nav */

    /* Logo with name */
        .header-nav {
            display: flex;
            justify-content: space-around;
            width: 80%;
            height: 90px;
            border-bottom: 2px solid rgb(146, 146, 146);
        }

        .logo-home {
            display: flex;
            align-items: center;
        }

        .logo-image-container {
            background-color: #782830;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid gray;
            transition: ease-in-out 0.3s;
        }

        .logo-image-container:hover {
            opacity: 0.5;
        }

        .logo-image {
            height: 50px;
            width: 50px;
        }

        .logo-name {
            font-family: var(--header-nav-font-family);
            font-size: 2rem;
            font-weight: lighter;
            letter-spacing: 0.3em;
            transition: all ease 1.5;
        }

        .nav-transition::after {
            content: '';
            width: 0px;
            height: 2px;
            display: block;
            background-color: #fff;
            transition: ease 0.3s;
        }

        .nav-transition:hover::after {
            width: 100%;
        }
    /* END */

    /* Links in nav */

        .nav-list-links {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
        }

        .nav-list:first-child {
            margin-right: 1rem;
        }

        .nav-link {
            font-family: var(--header-nav-font-family);
            cursor: pointer;
            font-size: 1.5rem;
            letter-spacing: 0.2em;
        }
    /* End */

/* design circles */
.design-circle {
    min-height: 300px;
    min-width: 300px;
}

.top-right.design-circle {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 30vw;
    width: 30vw;
    overflow: hidden;
}

.top-right-fill-design-circle {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: translate(40%, -30%);
    overflow: hidden;
}

.top-right-fill-design-circle::before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/top-right.jpeg);
    background-position: center;
    background-size: contain;
    position: absolute;
}

.bottom-left.design-circle {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 30vw;
    width: 30vw;
    max-height: 60vw;
    max-width: 60vw;
    overflow: hidden;
}

.bottom-left-fill-design-circle {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: translate(-20%, 30%);
    overflow: hidden;
}

.bottom-left-fill-design-circle::before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/bottom-left.jpeg);
    background-position: center;
    background-size: contain;
    position: absolute;
}

/* Screen Issue */
@media (max-width: 900px) {
    .logo-home {
        display: none;
    }

    .nav-list-links {
        width: 100%;
        padding: 0;
        justify-content: space-around;
    }

    .nav-list:first-child {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .nav-list-links {
        justify-content: center;
    }

    .nav-list:first-child {
        margin-right: 1rem;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .top-right.design-circle {
        display: none;
    }

    .bottom-left-fill-design-circle {
        transform: translate(-30%, 30%);
    }
}