:root {
    font-size: 16px;
    --transition-speed: 500ms ease;   

    /* Default */
    --banner-color: #8b00cc;
    --border-color: #000;
    --highlight-color: rgb(255, 255, 255);
    --message-color: rgb(0, 0, 0);

    /* Dark */
    --banner-color-dark: #b59e55;
    --border-color-dark: #9c9c9c;
    --highlight-color-dark: #000;
    --message-color-dark: #fff;
    
    /* Rose */
    --banner-color-rose: #e49b9b;
    --border-color-rose: #000;
    --highlight-color-rose: #000;
    --message-color-rose: #fff;
}

.banner {
    max-width: 80vw;
    padding: 20px;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 5px var(--border-color) solid;
    transition: var(--transition-speed);
    margin-left: 5rem;
}

.highlight {
    color: var(--highlight-color);
    font-size: 5rem;
    padding: 10px;
    cursor:default;
    font-family: 'Times New Roman', Times, serif;
    transition: var(--transition-speed);
}

.message {
    margin: 10px;
    font-size: 1rem;
    color: var(--message-color);
    cursor:default;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: var(--transition-speed);
    text-align: center;
    text-shadow: 1px 1px #000;
    margin-left: 5rem;
}

/* Small screen */
@media only screen and (max-width: 600px) {
    .banner {
        height: 300px;
        margin-left: 0;
    }

    .highlight {
        font-size: 3rem;
    }

    .message {
        margin-left: 0rem;
        font-size: 1rem;
        width: 80vw;
    }
}
